@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



/* My styles ->  */

body {
    background-color: white;
    position: relative;
    left: 10%;
    width: 80%;
    font-family: Verdana, Geneva, sans-serif;
}

@media all and (max-width: 1080px){
    
/************HEAD*************/

#company {
    font-family: Impact, Charcoal, sans-serif;
    color: #0B6121;
    font-size: 1.2em;
    
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;

}
.nav li {
    float: none;
}


.nav li a {
    font-size: 0.8em;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #FF8000;
}

/************Main content*************/

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    width: 100%;
    
    
    
}

#makeIntro {
    margin-top: 20px;
    font-size: 0.8em;
}
.intextlist {
    font-size: 0.8em;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 10px;
    text-align: center;
}

.intro {
    font-size: 0.8em;
}

.about {
    position: relative;

    
}

.headImage {
    width: 100%;
}

.unit {
    float: none;
    margin-top:50px;
    display: block;
}

.describe {
    
    font-size: 0.8em;
    text-align: center;
}

#cottageDisplay {
    text-align: center;
}



.cabin {
    margin-bottom: 20px; 
    display: inline-block;
    border: 3px solid #0B6121;
    
    
}    
.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    height: 30px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    font-size: 1em;
}
#order {
    position: relative;
    display: block;
}

#resText {
    width: 100%;
}

#order div {
    float: left;
    max-width: 100%;
    
    
}

form {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
    text-size: 1.5em;
    margin-bottom: 50px;
    
}

.weather {
    display: block;
    margin-top:50px;
    font-size: 0.8em;
    text-align: center;
}
.weather div {
    display: block;
}
ul {
    list-style-type: none;
    
}
}

@media all and (min-width: 1081px){

/************HEAD*************/

#company {
    font-family: Impact, Charcoal, sans-serif;
    color: #0B6121;
    
}


.nav {
    
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;

}

.nav .rightside {
    float: right;
}

.nav li {
    
    float: left;
}




.nav li a {
    
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #FF8000;
}

/************Main content*************/

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    
    
    
}

#makeIntro {
    margin-top: 30px;
    font-size: 1.3em;
}
.intextlist {
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 15px;
    text-align: center;
}

.intro {
    font-size: 1.5em;
}

.about {
    position: relative;
    left: 10%;
    width: 80%;
    
}

.headImage {
    width: 100%;
}

.unit {
    float: none;
    margin-top:50px;
}

.describe {
    
    font-size: 1.3em;
    text-align: center;
}

#cottageDisplay {
    text-align: center;
}


.cabin {
    margin-bottom: 20px; 
    width: 70%;
    display: inline-block;
    border: 3px solid #0B6121;
    
    
}    
.divider {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    font-size: 2em;
}
#order {
    position: relative;
    display: block;
}

#order div {
    float: left;
    max-width: 60%;
    
    
}

#basic {
 float: right;
}

form {
    display: inline-block;
    text-align: center;
    float: none;
    width: 100%;
    text-size: 3em;
    margin-bottom: 100px;
    
}

.weather {
    display: block;
    margin-top:50px;
    font-size: 1.2em;
    text-align: center;
}
.weather div {
    display: inline-block;
}
ul {
    list-style-type: none;
    
}
}



/* <-  */



/* Imported calendar styles ->  */

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}@media print{*{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:2cm .5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important}.navbar{display:none}.table td,.table th{background-color:#fff!important}.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}.label{border:1px solid #000}.table{border-collapse:collapse!important}.table-bordered th,.table-bordered td{border:1px solid #ddd!important}}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:62.5%;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#428bca;text-decoration:none}a:hover,a:focus{color:#2a6496;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}html,body{height:100%}body{background:#fff}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:500;line-height:1.1;color:inherit
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{font-weight:400;line-height:1;color:#999}h1,h2,h3{margin-top:20px;margin-bottom:10px}h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:65%}h4,h5,h6{margin-top:10px;margin-bottom:10px}h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%}h1,.h1{font-size:36px}h2,.h2{font-size:30px}h3,.h3{font-size:24px}h4,.h4{font-size:18px}h5,.h5{font-size:14px}h6,.h6{font-size:12px}p{margin:0 0 10px}.lead{margin-bottom:20px;font-size:16px;font-weight:200;line-height:1.4}@media (min-width:768px){.lead{font-size:21px}}small,.small{font-size:85%}cite{font-style:normal}.text-muted{color:#999}.text-primary{color:#428bca}.text-primary:hover{color:#3071a9}.text-warning{color:#8a6d3b}.text-warning:hover{color:#66512c}.text-danger{color:#a94442}.text-danger:hover{color:#843534}.text-success{color:#3c763d}.text-success:hover{color:#2b542c}.text-info{color:#31708f}.text-info:hover{color:#245269}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #eee}ul,ol{margin-top:0;margin-bottom:10px}ul ul,ol ul,ul ol,ol ol{margin-bottom:0}.list-unstyled{padding-left:0;list-style:none}.list-inline{padding-left:0;list-style:none}.list-inline>li{display:inline-block;padding-left:5px;padding-right:5px}.list-inline>li:first-child{padding-left:0}dl{margin-top:0;margin-bottom:20px}dt,dd{line-height:1.42857143}dt{font-weight:700}dd{margin-left:0}@media (min-width:768px){.dl-horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.dl-horizontal dd{margin-left:180px}.dl-horizontal dd:before,.dl-horizontal dd:after{content:" ";display:table}.dl-horizontal dd:after{clear:both}.dl-horizontal dd:before,.dl-horizontal dd:after{content:" ";display:table}.dl-horizontal dd:after{clear:both}}abbr[title],abbr[data-original-title]{cursor:help;border-bottom:1px dotted #999}.initialism{font-size:90%;text-transform:uppercase}blockquote{padding:10px 20px;margin:0 0 20px;border-left:5px solid #eee}blockquote p{font-size:17.5px;font-weight:300;line-height:1.25}blockquote p:last-child{margin-bottom:0}blockquote small,blockquote .small{display:block;line-height:1.42857143;color:#999}blockquote small:before,blockquote .small:before{content:'\2014 \00A0'}blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0}blockquote.pull-right p,blockquote.pull-right small,blockquote.pull-right .small{text-align:right}blockquote.pull-right small:before,blockquote.pull-right .small:before{content:''}blockquote.pull-right small:after,blockquote.pull-right .small:after{content:'\00A0 \2014'}blockquote:before,blockquote:after{content:""}address{margin-bottom:20px;font-style:normal;line-height:1.42857143}@font-face{font-family:icomoon;src:url(font/icomoon.eot?-5wkouh);src:url(font/icomoon.eot?#iefix-5wkouh) format('embedded-opentype'),url(font/icomoon.woff?-5wkouh) format('woff'),url(font/icomoon.ttf?-5wkouh) format('truetype'),url(font/icomoon.svg?-5wkouh#icomoon) format('svg');font-weight:400;font-style:normal}[class^=icon-],[class*=" icon-"]{font-family:icomoon;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-i-twitter:before{content:"\e600"}.icon-i-facebook:before{content:"\e601"}.icon-i-linkedin:before{content:"\e602"}code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,"Courier New",monospace}code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;white-space:nowrap;border-radius:4px}pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0}.pre-scrollable{max-height:340px;overflow-y:scroll}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.container:before,.container:after{content:" ";display:table}.container:after{clear:both}.container:before,.container:after{content:" ";display:table}.container:after{clear:both}@media (min-width:480px){.container{width:450px}}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row{margin-left:-15px;margin-right:-15px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}.col-xss-1,.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xss-2,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xss-3,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xss-4,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xss-5,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xss-6,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xss-7,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xss-8,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xss-9,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xss-10,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xss-11,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xss-12,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xss-1,.col-xss-2,.col-xss-3,.col-xss-4,.col-xss-5,.col-xss-6,.col-xss-7,.col-xss-8,.col-xss-9,.col-xss-10,.col-xss-11,.col-xss-12{float:left}.col-xss-12{width:100%}.col-xss-11{width:91.66666667%}.col-xss-10{width:83.33333333%}.col-xss-9{width:75%}.col-xss-8{width:66.66666667%}.col-xss-7{width:58.33333333%}.col-xss-6{width:50%}.col-xss-5{width:41.66666667%}.col-xss-4{width:33.33333333%}.col-xss-3{width:25%}.col-xss-2{width:16.66666667%}.col-xss-1{width:8.33333333%}.col-xss-pull-12{right:100%}.col-xss-pull-11{right:91.66666667%}.col-xss-pull-10{right:83.33333333%}.col-xss-pull-9{right:75%}.col-xss-pull-8{right:66.66666667%}.col-xss-pull-7{right:58.33333333%}.col-xss-pull-6{right:50%}.col-xss-pull-5{right:41.66666667%}.col-xss-pull-4{right:33.33333333%}.col-xss-pull-3{right:25%}.col-xss-pull-2{right:16.66666667%}.col-xss-pull-1{right:8.33333333%}.col-xss-pull-0{right:0}.col-xss-push-12{left:100%}.col-xss-push-11{left:91.66666667%}.col-xss-push-10{left:83.33333333%}.col-xss-push-9{left:75%}.col-xss-push-8{left:66.66666667%}.col-xss-push-7{left:58.33333333%}.col-xss-push-6{left:50%}.col-xss-push-5{left:41.66666667%}.col-xss-push-4{left:33.33333333%}.col-xss-push-3{left:25%}.col-xss-push-2{left:16.66666667%}.col-xss-push-1{left:8.33333333%}.col-xss-push-0{left:0}.col-xss-offset-12{margin-left:100%}.col-xss-offset-11{margin-left:91.66666667%}.col-xss-offset-10{margin-left:83.33333333%}.col-xss-offset-9{margin-left:75%}.col-xss-offset-8{margin-left:66.66666667%}.col-xss-offset-7{margin-left:58.33333333%}.col-xss-offset-6{margin-left:50%}.col-xss-offset-5{margin-left:41.66666667%}.col-xss-offset-4{margin-left:33.33333333%}.col-xss-offset-3{margin-left:25%}.col-xss-offset-2{margin-left:16.66666667%}.col-xss-offset-1{margin-left:8.33333333%}.col-xss-offset-0{margin-left:0}@media (min-width:480px){.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:0}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:0}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}}@media (min-width:768px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:0}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:0}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:0}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:0}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:0}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:0}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.row-6{margin-left:-3px;margin-right:-3px}.row-6:before,.row-6:after{content:" ";display:table}.row-6:after{clear:both}.row-6:before,.row-6:after{content:" ";display:table}.row-6:after{clear:both}.row-6 .col-xss-6{position:relative;float:left;width:50%;min-height:1px;padding-left:3px;padding-right:3px}.row-6 .col-xss-4{position:relative;float:left;width:33.33333333%;min-height:1px;padding-left:3px;padding-right:3px}.row-6 .col-xss-2{position:relative;float:left;width:16.66666667%;min-height:1px;padding-left:3px;padding-right:3px}.row-6 .col-xss-3{position:relative;float:left;width:25%;min-height:1px;padding-left:3px;padding-right:3px}table{max-width:100%;background-color:transparent}th{text-align:left}.table{width:100%;margin-bottom:20px}.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd}.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td{border-top:0}.table>tbody+tbody{border-top:2px solid #ddd}.table .table{background-color:#fff}.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td{padding:5px}.table-bordered{border:1px solid #ddd}.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td{border:1px solid #ddd}.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:2px}.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:#f3f1f2}.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{background-color:#f5f5f5}table col[class*=col-]{position:static;float:none;display:table-column}table td[class*=col-],table th[class*=col-]{float:none;display:table-cell}.table>thead>tr>.active,.table>tbody>tr>.active,.table>tfoot>tr>.active,.table>thead>.active>td,.table>tbody>.active>td,.table>tfoot>.active>td,.table>thead>.active>th,.table>tbody>.active>th,.table>tfoot>.active>th{background-color:#f5f5f5}.table-hover>tbody>tr>.active:hover,.table-hover>tbody>.active:hover>td,.table-hover>tbody>.active:hover>th{background-color:#e8e8e8}.table>thead>tr>.success,.table>tbody>tr>.success,.table>tfoot>tr>.success,.table>thead>.success>td,.table>tbody>.success>td,.table>tfoot>.success>td,.table>thead>.success>th,.table>tbody>.success>th,.table>tfoot>.success>th{background-color:#dff0d8}.table-hover>tbody>tr>.success:hover,.table-hover>tbody>.success:hover>td,.table-hover>tbody>.success:hover>th{background-color:#d0e9c6}.table>thead>tr>.danger,.table>tbody>tr>.danger,.table>tfoot>tr>.danger,.table>thead>.danger>td,.table>tbody>.danger>td,.table>tfoot>.danger>td,.table>thead>.danger>th,.table>tbody>.danger>th,.table>tfoot>.danger>th{background-color:#f2dede}.table-hover>tbody>tr>.danger:hover,.table-hover>tbody>.danger:hover>td,.table-hover>tbody>.danger:hover>th{background-color:#ebcccc}.table>thead>tr>.warning,.table>tbody>tr>.warning,.table>tfoot>tr>.warning,.table>thead>.warning>td,.table>tbody>.warning>td,.table>tfoot>.warning>td,.table>thead>.warning>th,.table>tbody>.warning>th,.table>tfoot>.warning>th{background-color:#fcf8e3}.table-hover>tbody>tr>.warning:hover,.table-hover>tbody>.warning:hover>td,.table-hover>tbody>.warning:hover>th{background-color:#faf2cc}@media (max-width:767px){.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;overflow-x:scroll;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;-webkit-overflow-scrolling:touch}.table-responsive>.table{margin-bottom:0}.table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td{white-space:nowrap}.table-responsive>.table-bordered{border:0}.table-responsive>.table-bordered>thead>tr>th:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child{border-left:0}.table-responsive>.table-bordered>thead>tr>th:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child{border-right:0}.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>th,.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>td{border-bottom:0}}fieldset{padding:0;margin:0;border:0}legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #e5e5e5}label{display:inline-block;margin-bottom:5px;font-weight:700}input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input[type=radio],input[type=checkbox]{margin:4px 0 0;margin-top:1px \9;line-height:normal}input[type=file]{display:block}select[multiple],select[size]{height:auto}select optgroup{font-size:inherit;font-style:inherit;font-family:inherit}input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{height:auto}output{display:block;padding-top:7px;font-size:14px;line-height:1.42857143;color:#555;vertical-align:middle}.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:16px;line-height:1.42857143;color:#555;vertical-align:middle;background-color:#fafafa;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.form-control:-moz-placeholder{color:#999}.form-control::-moz-placeholder{color:#999;opacity:1}.form-control:-ms-input-placeholder{color:#999}.form-control::-webkit-input-placeholder{color:#999}.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{cursor:not-allowed;background-color:#eee}textarea.form-control{height:auto}.form-group{margin-bottom:15px}.radio,.checkbox{display:block;min-height:20px;margin-top:10px;margin-bottom:10px;padding-left:20px;vertical-align:middle}.radio label,.checkbox label{display:inline;margin-bottom:0;font-weight:400;cursor:pointer}.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox]{float:left;margin-left:-20px}.radio+.radio,.checkbox+.checkbox{margin-top:-5px}.radio-inline,.checkbox-inline{display:inline-block;padding-left:20px;margin-bottom:0;vertical-align:middle;font-weight:400;cursor:pointer}.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline{margin-top:0;margin-left:10px}input[type=radio][disabled],input[type=checkbox][disabled],.radio[disabled],.radio-inline[disabled],.checkbox[disabled],.checkbox-inline[disabled],fieldset[disabled] input[type=radio],fieldset[disabled] input[type=checkbox],fieldset[disabled] .radio,fieldset[disabled] .radio-inline,fieldset[disabled] .checkbox,fieldset[disabled] .checkbox-inline{cursor:not-allowed}.input-sm{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-sm{height:30px;line-height:30px}textarea.input-sm{height:auto}.input-lg{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}select.input-lg{height:46px;line-height:46px}textarea.input-lg{height:auto}.has-warning .help-block,.has-warning .control-label,.has-warning .radio,.has-warning .checkbox,.has-warning .radio-inline,.has-warning .checkbox-inline{color:#8a6d3b}.has-warning .form-control{border-color:#8a6d3b;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-warning .form-control:focus{border-color:#66512c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-warning .input-group-addon{color:#8a6d3b;border-color:#8a6d3b;background-color:#fcf8e3}.has-error .help-block,.has-error .control-label,.has-error .radio,.has-error .checkbox,.has-error .radio-inline,.has-error .checkbox-inline{color:#a94442}.has-error .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#a94442;border-color:#a94442;background-color:#f2dede}.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline{color:#3c763d}.has-success .form-control{border-color:#3c763d;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-success .form-control:focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.has-success .input-group-addon{color:#3c763d;border-color:#3c763d;background-color:#dff0d8}.form-control-static{margin-bottom:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}@media (min-width:768px){.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.form-inline .form-control{display:inline-block}.form-inline select.form-control{width:auto}.form-inline .radio,.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;padding-left:0}.form-inline .radio input[type=radio],.form-inline .checkbox input[type=checkbox]{float:none;margin-left:0}}.form-horizontal .control-label,.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{margin-top:0;margin-bottom:0;padding-top:7px}.form-horizontal .radio,.form-horizontal .checkbox{min-height:27px}.form-horizontal .form-group{margin-left:-15px;margin-right:-15px}.form-horizontal .form-group:before,.form-horizontal .form-group:after{content:" ";display:table}.form-horizontal .form-group:after{clear:both}.form-horizontal .form-group:before,.form-horizontal .form-group:after{content:" ";display:table}.form-horizontal .form-group:after{clear:both}.form-horizontal .form-control-static{padding-top:7px}@media (min-width:768px){.form-horizontal .control-label{text-align:right}}.form-dyna.md-3 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:992px){.form-dyna.md-3 .group>label{float:left;width:25%}}@media (max-width:991px){.form-dyna.md-3 .group>label{padding-top:0}}.form-dyna.md-3 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:992px){.form-dyna.md-3 .group>div{float:left;width:75%}}.form-dyna.md-4 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:992px){.form-dyna.md-4 .group>label{float:left;width:33.33333333%}}@media (max-width:991px){.form-dyna.md-4 .group>label{padding-top:0}}.form-dyna.md-4 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:992px){.form-dyna.md-4 .group>div{float:left;width:66.66666667%}}.form-dyna.md-5 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:992px){.form-dyna.md-5 .group>label{float:left;width:41.66666667%}}@media (max-width:991px){.form-dyna.md-5 .group>label{padding-top:0}}.form-dyna.md-5 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:992px){.form-dyna.md-5 .group>div{float:left;width:58.33333333%}}.form-dyna.sm-3 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:768px){.form-dyna.sm-3 .group>label{float:left;width:25%}}@media (max-width:767px){.form-dyna.sm-3 .group>label{padding-top:0}}.form-dyna.sm-3 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:768px){.form-dyna.sm-3 .group>div{float:left;width:75%}}.form-dyna.sm-4 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:768px){.form-dyna.sm-4 .group>label{float:left;width:33.33333333%}}@media (max-width:767px){.form-dyna.sm-4 .group>label{padding-top:0}}.form-dyna.sm-4 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:768px){.form-dyna.sm-4 .group>div{float:left;width:66.66666667%}}.form-dyna.sm-5 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:768px){.form-dyna.sm-5 .group>label{float:left;width:41.66666667%}}@media (max-width:767px){.form-dyna.sm-5 .group>label{padding-top:0}}.form-dyna.sm-5 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:768px){.form-dyna.sm-5 .group>div{float:left;width:58.33333333%}}.form-dyna.xs-3 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:480px){.form-dyna.xs-3 .group>label{float:left;width:25%}}@media (max-width:479px){.form-dyna.xs-3 .group>label{padding-top:0}}.form-dyna.xs-3 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:480px){.form-dyna.xs-3 .group>div{float:left;width:75%}}.form-dyna.xs-4 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:480px){.form-dyna.xs-4 .group>label{float:left;width:33.33333333%}}@media (max-width:479px){.form-dyna.xs-4 .group>label{padding-top:0}}.form-dyna.xs-4 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:480px){.form-dyna.xs-4 .group>div{float:left;width:66.66666667%}}.form-dyna.xs-5 .group>label{position:relative;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}@media (min-width:480px){.form-dyna.xs-5 .group>label{float:left;width:41.66666667%}}@media (max-width:479px){.form-dyna.xs-5 .group>label{padding-top:0}}.form-dyna.xs-5 .group>div{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:480px){.form-dyna.xs-5 .group>div{float:left;width:58.33333333%}}.form-dyna.xss-4 .group>label{position:relative;float:left;width:33.33333333%;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}.form-dyna.xss-4 .group>div{position:relative;float:left;width:66.66666667%;min-height:1px;padding-left:15px;padding-right:15px}.form-dyna.xss-5 .group>label{position:relative;float:left;width:41.66666667%;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}.form-dyna.xss-5 .group>div{position:relative;float:left;width:58.33333333%;min-height:1px;padding-left:15px;padding-right:15px}.form-dyna.xss-6 .group>label{position:relative;float:left;width:50%;min-height:1px;padding-left:15px;padding-right:15px;padding-top:7px}.form-dyna.xss-6 .group>div{position:relative;float:left;width:50%;min-height:1px;padding-left:15px;padding-right:15px}.form-dyna .group{margin-left:-15px;margin-right:-15px;margin-bottom:15px}.form-dyna .group:before,.form-dyna .group:after{content:" ";display:table}.form-dyna .group:after{clear:both}.form-dyna .group:before,.form-dyna .group:after{content:" ";display:table}.form-dyna .group:after{clear:both}.form-dyna .group>label{margin-bottom:5px;font-size:16px;color:#222;text-align:right;font-weight:400}.form-dyna .group>label:after{content:":"}.form-dyna .group>label.empty:after{content:""}.form-dyna .group>label.top{padding-top:0}.form-dyna .group>label.top1{padding-top:3px}.form-dyna .group>label.empty{display:block;height:1px;padding:0;margin:0}.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus{color:#333;text-decoration:none}.btn:active,.btn.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}.btn-default{color:#333;background-color:#fff;border-color:#ccc}.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{color:#333;background-color:#ebebeb;border-color:#adadad}.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#fff}.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#3276b1;border-color:#285e8e}.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}.btn-primary .badge{color:#428bca;background-color:#fff}.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{color:#fff;background-color:#ed9c28;border-color:#d58512}.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{background-image:none}.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#eea236}.btn-warning .badge{color:#f0ad4e;background-color:#fff}.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{color:#fff;background-color:#d2322d;border-color:#ac2925}.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{background-image:none}.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{background-color:#d9534f;border-color:#d43f3a}.btn-danger .badge{color:#d9534f;background-color:#fff}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{color:#fff;background-color:#47a447;border-color:#398439}.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{background-image:none}.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{color:#fff;background-color:#39b3d7;border-color:#269abc}.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{background-image:none}.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#46b8da}.btn-info .badge{color:#5bc0de;background-color:#fff}.btn-link{color:#428bca;font-weight:400;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}.btn-link:hover,.btn-link:focus{color:#2a6496;text-decoration:underline;background-color:transparent}.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{color:#999;text-decoration:none}.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}.btn-sm,.btn-xs{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}.btn-xs{padding:1px 5px}.btn-block{display:block;width:100%;padding-left:0;padding-right:0}.btn-block+.btn-block{margin-top:5px}input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block{width:100%}.btn-main{border-width:3px;color:#fff;background-color:#ff7f38;border-color:#ff7f38;font-weight:700;text-transform:uppercase;font-size:16px;padding:3px 19px 2px}.btn-main:hover,.btn-main:focus,.btn-main:active,.btn-main.active,.open .dropdown-toggle.btn-main{color:#fff;background-color:#ff650f;border-color:#fa5900}.btn-main:active,.btn-main.active,.open .dropdown-toggle.btn-main{background-image:none}.btn-main.disabled,.btn-main[disabled],fieldset[disabled] .btn-main,.btn-main.disabled:hover,.btn-main[disabled]:hover,fieldset[disabled] .btn-main:hover,.btn-main.disabled:focus,.btn-main[disabled]:focus,fieldset[disabled] .btn-main:focus,.btn-main.disabled:active,.btn-main[disabled]:active,fieldset[disabled] .btn-main:active,.btn-main.disabled.active,.btn-main[disabled].active,fieldset[disabled] .btn-main.active{background-color:#ff7f38;border-color:#ff7f38}.btn-main .badge{color:#ff7f38;background-color:#fff}.btn-main:hover,.btn-main:focus,.btn-main:active,.btn-main.active{background-color:#FF8D3A;border-color:#EF722F}.btn-gray{border-width:3px;color:#fff;background-color:#99a2a7;border-color:#99a2a7;font-weight:700;text-transform:uppercase;font-size:16px;padding:3px 19px 2px}.btn-gray:hover,.btn-gray:focus,.btn-gray:active,.btn-gray.active,.open .dropdown-toggle.btn-gray{color:#fff;background-color:#838e94;border-color:#78848b}.btn-gray:active,.btn-gray.active,.open .dropdown-toggle.btn-gray{background-image:none}.btn-gray.disabled,.btn-gray[disabled],fieldset[disabled] .btn-gray,.btn-gray.disabled:hover,.btn-gray[disabled]:hover,fieldset[disabled] .btn-gray:hover,.btn-gray.disabled:focus,.btn-gray[disabled]:focus,fieldset[disabled] .btn-gray:focus,.btn-gray.disabled:active,.btn-gray[disabled]:active,fieldset[disabled] .btn-gray:active,.btn-gray.disabled.active,.btn-gray[disabled].active,fieldset[disabled] .btn-gray.active{background-color:#99a2a7;border-color:#99a2a7}.btn-gray .badge{color:#99a2a7;background-color:#fff}.btn-gray:hover,.btn-gray:focus,.btn-gray:active,.btn-gray.active{background-color:#99A2A7;border-color:#939AA0}.btn-embed{color:#fff;background-color:#fe9539;border-color:#fe9539;font-weight:600;text-transform:uppercase;font-size:16px;padding:5px 23px 4px;border:1px solid #D26021;text-shadow:1px 1px 2px #FE8C36;background-image:-webkit-gradient(linear,0 0,0 100%,from(#fe9539),color-stop(80%,#fe9539),to(#fe7f3a));background-image:-webkit-linear-gradient(#fe9539,#fe9539 80%,#fe7f3a);background-image:-moz-linear-gradient(top,#fe9539,#fe9539 80%,#fe7f3a);background-image:linear-gradient(#fe9539,#fe9539 80%,#fe7f3a);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffe9539', endColorstr='#fffe7f3a', GradientType=0);-webkit-box-shadow:0 0 5px 1px #d4d4d4;box-shadow:0 0 5px 1px #d4d4d4;border-top-right-radius:5px;border-top-left-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px}.btn-embed:hover,.btn-embed:focus,.btn-embed:active,.btn-embed.active,.open .dropdown-toggle.btn-embed{color:#fff;background-color:#fe7f10;border-color:#f97501}.btn-embed:active,.btn-embed.active,.open .dropdown-toggle.btn-embed{background-image:none}.btn-embed.disabled,.btn-embed[disabled],fieldset[disabled] .btn-embed,.btn-embed.disabled:hover,.btn-embed[disabled]:hover,fieldset[disabled] .btn-embed:hover,.btn-embed.disabled:focus,.btn-embed[disabled]:focus,fieldset[disabled] .btn-embed:focus,.btn-embed.disabled:active,.btn-embed[disabled]:active,fieldset[disabled] .btn-embed:active,.btn-embed.disabled.active,.btn-embed[disabled].active,fieldset[disabled] .btn-embed.active{background-color:#fe9539;border-color:#fe9539}.btn-embed .badge{color:#fe9539;background-color:#fff}.btn-embed:hover,.btn-embed:focus,.btn-embed:active,.btn-embed.active{border-color:#a64c1a}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.display-none{display:none}.hidden{display:none!important;visibility:hidden!important}.affix{position:fixed}.o-hide{overflow:hidden}
/* <-  */
