body {
    background-color: white;
    position: relative;
    left: 10%;
    width: 80%;
    font-family: Verdana, Geneva, sans-serif;
}

@media all and (min-width: 1081px){

/************HEAD*************/

#company {
    font-family: Impact, Charcoal, sans-serif;
    color: #0B6121;
    
}


.nav {
    
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;

}

.nav .rightside {
    float: right;
}

.nav li {
    
    float: left;
}




.nav li a {
    
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #FF8000;
}

/************Main content*************/

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    
    
    
}

#makeIntro {
    margin-top: 30px;
    font-size: 1.3em;
}
.intextlist {
    font-size: 1.2em;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 15px;
    text-align: center;
}

.intro {
    font-size: 1.5em;
}

.about {
    position: relative;
    left: 10%;
    width: 80%;
    
}

.headImage {
    width: 100%;
}

.unit {
    float: none;
    margin-top:50px;
}

.describe {
    
    font-size: 1.3em;
    text-align: center;
}

#cottageDisplay {
    text-align: center;
}


.cabin {
    margin-bottom: 20px; 
    width: 70%;
    display: inline-block;
    border: 3px solid #0B6121;
    
    
}    
.divider {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    font-size: 2em;
}
#order {
    position: relative;
    display: block;
}

#order div {
    float: left;
    max-width: 60%;
    
    
}

#basic {
 float: right;
}

form {
    display: inline-block;
    text-align: center;
    float: none;
    width: 100%;
    text-size: 3em;
    margin-bottom: 100px;
    
}

.weather {
    display: block;
    margin-top:50px;
    font-size: 1.2em;
    text-align: center;
}
.weather div {
    display: inline-block;
}
ul {
    list-style-type: none;
    
}
}


@media all and (max-width: 1080px){
    
/************HEAD*************/

#company {
    font-family: Impact, Charcoal, sans-serif;
    color: #0B6121;
    font-size: 1.2em;
    
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    top: 0;

}


.nav li a {
    font-size: 0.8em;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #FF8000;
}

/************Main content*************/

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    width: 100%;
    
    
}

#makeIntro {
    margin-top: 20px;
    font-size: 0.8em;
}
.intextlist {
    font-size: 0.8em;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 10px;
    text-align: center;
}

.intro {
    font-size: 0.8em;
}

.about {
    position: relative;

    
}

.headImage {
    width: 100%;
}

.unit {
    display: block;
    float: none;
    margin-top:50px;
}

#basic {
    display: block;
    width: 100%;
    
}


.describe {
    
    font-size: 0.8em;
    text-align: center;
}

#cottageDisplay {
    text-align: center;
}


.cabin {
    margin-bottom: 20px; 
    display: inline-block;
    border: 3px solid #0B6121;
    
    
}    
.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    height: 30px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    font-size: 1em;
}
#order {
    position: relative;
    display: block;
}

#order #resText {
    width: 100%;
    text-align: center;
    
    
}

#order div {
    float: left;
    max-width: 100%;
    
    



form {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
    text-size: 1.5em;
    margin-bottom: 50px;
    
}

.weather {
    display: block;
    margin-top:50px;
    font-size: 0.8em;
    text-align: center;
}
.weather div {
    display: block;
}
ul {
    list-style-type: none;
    
}
}